<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change_Password</title>
</head>
<body>
<form action="/myweb/changep/" method="post">
    {% csrf_token %}
<div align="center" style="border:solid 2px;border-color:brown; margin:5px;margin-top:5em;">
    <table cellspacing="5" cellpadding="5">
    <caption><b>Reset Password</b></caption>
    <tr>
        <td>
            Enter your new Password:
        </td>
        <td>
           <input type="password" name="pwd">
        </td>
    </tr>
    <tr>
        <td></td>
        <td> <input type="submit" value="Change"></td>
    </tr>


    </table>
</div>
</form>
</body>
</html>