<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body bgcolor="lightyellow">
<div align="center">
<label align="center"><h1>Welcome  {{request.session.name}}.....LoggedIn Successfully!!!!!</h1></label>
<br>
<br>
<a href="/myweb/blog"><button style="background:green; width:20em;height:5em ">Post Blog</button></a><br>
    <br>
    <br>
    <a href="/myweb/logout"><button style="background:green; width:20em;height:5em">Logout</button></a>
<br>
<br>
<a href="/myweb/viewblog"><button style="background:green; width:20em;height:5em ">View Blog</button></a>
    <br>

</div>
</body>
</html>